.vscode/

# Generated folders
build/
out/
temp/
Scripts/Python/__pycache__

# Logs
UnnamedEngine/env/Logs/
UnnamedServer/env/Logs/
UnnamedClient/env/Logs/
UnnamedEditor/env/Logs/

# Google test
vendor/googletest
