[submodule "UnnamedEngine/vendor/GLFW"]
	path = UnnamedEngine/vendor/GLFW
	url = https://github.com/ZotyDev/glfw
[submodule "GameEngine/vendor/GLFW"]
	path = GameEngine/vendor/GLFW
	url = https://github.com/ZotyDev/glfw
