[submodule "UnnamedEngine/vendor/GLFW"]
	path = UnnamedEngine/vendor/GLFW
	url = https://github.com/ZotyDev/glfw
[submodule "UnnamedEngine/vendor/GLM"]
	path = UnnamedEngine/vendor/GLM
	url = https://github.com/g-truc/glm
[submodule "UnnamedEngine/vendor/STB"]
	path = UnnamedEngine/vendor/STB
	url = https://github.com/nothings/stb
[submodule "UnnamedEngine/vendor/LUA"]
	path = UnnamedEngine/vendor/LUA
	url = https://github.com/ZotyDev/lua
[submodule "UnnamedEngine/vendor/spdlog"]
	path = UnnamedEngine/vendor/spdlog
	url = https://github.com/ZotyDev/spdlog
[submodule "UnnamedEngine/vendor/Nochyis"]
	path = UnnamedEngine/vendor/Nochyis
	url = https://github.com/ZotyDev/Nochyis
[submodule "UnnamedEngine/vendor/FreeType"]
	path = UnnamedEngine/vendor/FreeType
	url = https://github.com/ZotyDev/freetype
[submodule "vendor/.bin/premake/premake-android"]
	path = vendor/.bin/premake/premake-android
	url = https://github.com/polymonster/premake-android-studio
[submodule "UnnamedEngine/vendor/fmt"]
	path = UnnamedEngine/vendor/fmt
	url = https://github.com/ZotyDev/fmt
[submodule "UnnamedEditor/vendor/ImGuizmo"]
	path = UnnamedEditor/vendor/ImGuizmo
	url = https://github.com/CedricGuillemet/ImGuizmo
[submodule "UnnamedEngine/vendor/ImGuizmo"]
	path = UnnamedEngine/vendor/ImGuizmo
	url = https://github.com/CedricGuillemet/ImGuizmo
[submodule "UnnamedEngine/vendor/ImGui"]
	path = UnnamedEngine/vendor/ImGui
	url = https://github.com/ZotyDev/imgui
[submodule "UnnamedEngine/vendor/ImPlot"]
	path = UnnamedEngine/vendor/ImPlot
	url = https://github.com/ZotyDev/implot
